<head>
  <!-- Power by Nikolay Vasilev! -->
  <meta charset="utf-8">
  <meta name="description" content="This is a web site where I create web site designs">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="keywords" content="design, Art, web, site">
  <meta name="author" content="Nikolay Vasilev">
  <link rel="icon" href="<%= headIcon %>" type="image/x-icon">
  <title><%= headTitle %></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Master Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
  <!-- My CSS -->
  <link rel="stylesheet" href="<%= myCSS %>">
  <link rel="stylesheet" href="<%= chatCSS %>">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
</head>
