<!-- Footer -->
<footer class="page-footer font-small blue-grey darken-4 mt-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center text-default text-uppercase py-3">© 2019 Copyright:
    <a href="/">Mobile and web technologies, Group: 37</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
