<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../../partials/head'); -%>
  <body>

    <%- include('../../partials/menu'); -%>

    <main class="container mt-3">
      <div class="row">
        <h1>Set up Node.js</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <!--Video source-->
          <video class="video-fluid" controls>
            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-lg-4 col-md-12">
          <!--Video source-->
          <video class="video-fluid" controls>
            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-lg-4 col-md-12">
          <!--Video source-->
          <video class="video-fluid" controls>
            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="row">
        <h1>Set up Node.js</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <!--Video source-->
          <video class="video-fluid" controls>
            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-lg-4 col-md-12">
          <!--Video source-->
          <video class="video-fluid" controls>
            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-lg-4 col-md-12">
          <!--Video source-->
          <video class="video-fluid" controls>
            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </main>

    <%- include('../../partials/footer'); -%>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js"></script>

  </body>
</html>
