<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../../partials/head'); -%>
  <body>

    <%- include('../../partials/menu'); -%>

    <section class="Right">
      <div id="Online">
        <div class="row">
          <div class="col-md-12 green-text">
            <i class="fas fa-globe fa-2x"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <article class="OnlineUsersSection" id="OnlineUsers">
            </article>
          </div>
        </div>
      </div>
    </section>

    <main class="container-fluid mt-3">
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <iframe class="LiveStreamSize" src="https://www.youtube.com/embed/6RUoKr1oMtk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 col-md-12">
          <!-- Card -->
          <div class="card ChatHeight">
            <div class="card-header blue-grey darken-4">
              <!-- Title -->
              <h4 class="card-title text-default">Live Chat</h4>
            </div>
            <!-- Card content -->
            <div class="card-body mychat h-50">
              <div id="output"></div>
              <div id="feedback"></div>
            </div>
            <div class="card-footer">
              <div class="form-row mb-2">
                  <div class="col-md-7">
                      <!-- User name -->
                      <input class="form-control" id="handle" type="text" placeholder="User name*">
                  </div>
                  <div class="col-md-5">
                      <!-- Submit button -->
                      <button class="btn blue-grey darken-4 text-default btn-block" id="submit">Submit</button>
                  </div>
              </div>
              <textarea class="form-control rounded-0" id="message" rows="2" placeholder="Message"></textarea>
              <button class="btn blue-grey darken-4 text-default btn-block my-2" id="send" type="button" name="button">Send</button>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </main>

    <%- include('../../partials/footer'); -%>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js"></script>
    <!-- My SCRIPTS -->
    <script type="text/javascript" src="../js/chat.js"></script>
    <script type="text/javascript" src="../js/OnlineUsers.js"></script>

  </body>
</html>
