<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Power by Nikolay Vasilev! -->
    <meta charset="utf-8">
    <meta name="description" content="This is a web site where I create web site designs">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="design, Art, web, site">
    <meta name="author" content="Nikolay Vasilev">
    <link rel="icon" href="./img/37.png" type="image/x-icon">
    <title>MWT</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <!-- Master Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/mycss.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
  </head>
  <body>

    <!--Navbar-->
    <%- include('../partials/startMenu'); -%>
    <!--Navbar-->

    <main class="container MainHeight mt-3">
      <div class="row h-100">
        <div class="col-md-12 h-100 text-center">
          <h1 class="preview-font-title text-white">Mobile and web technologies, Group: 37</h1>
          <h4 class="text-white text-uppercase">This website is for student purposes</h4>
        </div>
      </div>
    </main>

    <%- include('../partials/startFooter'); -%>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js"></script>

  </body>
</html>
