<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Power by Nikolay Vasilev! -->
    <meta charset="utf-8">
    <meta name="description" content="This is a web site where I create web site designs">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="design, Art, web, site">
    <meta name="author" content="Nikolay Vasilev">
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <title>MWT | Registration</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Master Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/mycss.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
  </head>
  <body>

    <!--Navbar-->
    <%- include('../partials/startMenu'); -%>
    <!--Navbar-->

    <main class="container MainHeight mt-5">
      <div class="row h-100">
        <div class="col-md-12 h-100">
          <div class="d-flex justify-content-center h-100">
            <div class="card RegistrationForm">
              <form class="mx-5" action="/controllers/register-controller" method="POST" name="form">
                <div class="md-form">
                    <input type="text" id="form-firstname" name="name" class="form-control">
                    <label for="form-firstname">Your Name*</label>
                  </div>
                  <div class="md-form">
                    <input type="password" id="form-password" name="password" class="form-control">
                    <label for="form-password">Your Paswword*</label>
                  </div>
                  <div class="md-form">
                    <input type="email" id="email" name="email" class="form-control">
                    <label for="email" class="">Your email*</label>
                  </div>
                  <div class="md-form">
                    <input type="password" id="form-code" name="code" class="form-control">
                    <label for="form-code">Code*</label>
                  </div>
                  <div class="<%= alert_danger %>" role="alert">
                    <h6 class="mb-0"><%= error %></h6>
                  </div>
                  <div class="d-flex justify-content-center">
                    <input type="submit" name="submit" value="Registration" class="btn blue-grey darken-4 text-default">
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/startFooter'); -%>
    <!-- Footer -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js"></script>

  </body>
</html>
